<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<title>&hearts; | lovinindy</title>

		<!-- Meta tags -->
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link rel="stylesheet" href="stylesheets/main.css?version=1" />

		<!-- JavaScript -->
		<!--[if IE]><![endif]-->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="javascripts/respond.min.js"></script>
	</head>
	<body>
		<header>
			<h1><img src="images/logo.png" alt="lovinindy logo" title="lovinindy"></h1>
			
			<div class="intro">
				<h2>Showing love for our city, one tweet at a time.</h2>
				<p>Tweet with <code>@lovinindy</code> or <code>#lovinindy</code> or post a Flickr photo with the tag <code>lovinindy</code> and it will be included below!</p>
			</div>
			
		</header>
		<% @data.each do |result| %>
			<div class="<%=result.embed_media_type || 'tweet' %> item">
				<img src="<%= result.profile_image_url%>" class="profile_img">
				<% if !result.embed_media_thumb.nil? &&  result.embed_media_type != 'link' %>
					<div class="media">
						<img src="<%= result.embed_media_thumb%>">
					</div>
				<% end %>
				<div class="body">
					<%= result.text %>
					<div class="user"><%= result.from_user %> | <%= Time.parse(result.created_at).strftime("%b %e %Y at %I:%M%p") %></div>
				</div>
				<!--Data added from Embedly to result>
				<!--img src="<#%= result.embed_media_thumb%>"-->
      	<%#= result.embed_media_html%>
      	<%#= result.embed_media_display%>
			</div>
		<% end %>
		
		<footer>
			made with love by <a href="http://supermatter.com/">Supermatter</a>
		</footer>
	</body>
</html>